body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #062342;
  color: #ffffff;
}

header {
  background-color: #062342;
  color: white;
  padding: 60px 20px;
  display: flex;
  align-items: center;

}

header h1 {
  white-space: nowrap;
  font-size: 56px;
}

header p {
  white-space: nowrap;
  font-size: 28px;
}

.texto {
  max-width: 60%;
  margin-left: 350px;
  display: flex;
  flex-direction: column;
}

header img {
  display: flex;
  margin-left: 100px;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
}

#about p {
  color: #f8f8f8;
}

#skills p {
  color: #000000;
}

#skills h3 {
  color: #000000;
}

#projects h3 {
  color: #000000;
}

#projects p {
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h1,
h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.skills,
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill,
.project {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  .texto {
    max-width: 100%;
    margin-left: 0;
  }

  header h1 {
    font-size: 36px;
    white-space: normal;
    /* deja romper línea */
  }

  header p {
    padding: 10px 0;
  }

  header img {
    width: 200px;
    margin-top: 20px;
  }
}