* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #062342;
  color: #ffffff;
}

header {
  background-color: #062342;
  color: white;
  padding: 60px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.texto {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header h1 {
  font-size: 56px;
  margin: 0;
}

header p {
  font-size: 28px;
  margin: 10px 0 0;
}

header img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 4px solid black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h1,
h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.skills,
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill,
.project {
  background-color: white;
  color: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  header h1 {
    font-size: 36px;
  }

  header p {
    font-size: 18px;
  }

  header img {
    max-width: 200px;
  }
}